<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApproachSlab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ApproachSlab.Properties.Settings>
            <setting name="RoadAxisElemIds" serializeAs="String">
                <value />
            </setting>
            <setting name="RoadLineElemIds1" serializeAs="String">
                <value />
            </setting>
            <setting name="RoadLineElemIds2" serializeAs="String">
                <value />
            </setting>
            <setting name="ProfileLineIds" serializeAs="String">
                <value />
            </setting>
            <setting name="FamilySymbolIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsRotate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsVertical" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsRotateByAngel" serializeAs="String">
                <value>False</value>
            </setting>
        </ApproachSlab.Properties.Settings>
    </userSettings>
</configuration>